[Unit]
Description={description}
After={after}
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User={user}
WorkingDirectory={base_dir}
ExecStartPre=/bin/sleep 10
ExecStart={exec_start}
Restart=always
RestartSec=10
KillMode=control-group
TimeoutStopSec=10
Environment=PYTHONUNBUFFERED=1
{environment}
StandardOutput=journal
StandardError=journal
SyslogIdentifier={service_name}

[Install]
WantedBy=graphical.target
